@import 'src/app/dist/scss/variables.scss';

h1{
    width: 100%;
    padding: 15px 0;

    text-align: center;
    font-size: 25px;
    color: $primary-text-color;
    
    background-color: $tertiary-background-color;
}