@import './src/app/dist/scss/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: roboto;
    font-weight: 400;
}

body{
    background: $secondary-background-color;
}

//classes
.container{
    width: 350px;
    margin: 50px auto;
}